.body{
    background-color: rgb(250, 235, 218);
    margin: auto;
}

.title,
.list {
    text-align: center;
    font-family: Garamond, Helvetica, sans-serif;
}
.title {
    font-weight: bold;
    font-size: 36px;
    margin: 50px;
    background-color:  rgb(181, 228, 247);
    padding: 5px;
    border: 8px solid black;
}
.list {
    font-size: 20px;
    color: blue;
    background-color: rgb(181, 228, 247);
    box-sizing: border-box;
    height: 75px;
    width: 300px;
    margin: 10px auto;
    display: block;
    border: 6px dotted black;
    padding: 20px;
}